{{ define "main" }}


<body class="background" id="resize">
	<div class="wrap ">
		<div class="wrap-video gray">
			<video class="video"  src="/mp4/9A.mp4">
				<source type="video/mp4">
			</video>
		</div>

		<div class="header">
			<div class="header__camera">
				<img src="/img/camera.png" alt="" />
			</div>
			<span> <strong>For you</strong></span> <strong> Following </strong> <strong>Trending </strong>
			<div class="header__play">
				<img src="/img/play.jpg" alt="" />
			</div>
			<div class="header__mute">
				<img src="/img/mute.jpg" alt="" />
			</div>
		</div>

		<div id="main-block" class="main">
			<a href="/click" class="step-1">
				<svg class="play-icon mpic" width="70" height="70" viewBox="0 0 48 48" fill="#fff"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
						d="M12 8.77702C12 6.43812 14.5577 4.99881 16.5569 6.21266L41.6301 21.4356C43.5542 22.6038 43.5542 25.3962 41.6301 26.5644L16.5569 41.7873C14.5577 43.0012 12 41.5619 12 39.223V8.77702Z">
					</path>
				</svg>
			</a>
			
		</div>

		<div class="footer">
			<div class="desc">
				<div class="desc-name">Emily Pink <span>Follow</span> </div>
				<p>#dance #dancehall #hip-hop</p>
			</div>
			<div class="right-bar"></div>
			<img class="mpic footer-img" src="/img/vk.png" alt="">
		</div>
	</div>

{{ range .Params.modals }}
{{ $modal := resources.Get . | js.Build  | fingerprint }}
<!-- Use this for external scripts -->
<script src="{{ $modal.RelPermalink }}"></script>
<!-- Use this for inline scripts -->
<!--<script> {{ $modal.Content | safeJS }} </script> -->
{{ end }}
</body>
{{ end }}
