<!DOCTYPE html>
<html lang={{ .Language.Lang }}>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link href='https://fonts.googleapis.com/css?family=Rammetto One' rel='stylesheet'>


<script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">



<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/ua-parser-js/dist/ua-parser.min.js"></script>


{{ $modals := slice  }}

<!-- Check for the base 'modal' parameter -->
{{ if .Params.js  }}
  {{ $modals = $modals | append .Params.js  }}
  {{ end  }}

  <!-- Check for numbered modal parameters up to 'modal10' -->
  {{ range seq 1 10  }}
    {{ $key := printf "js%d" .  }}
      {{ if index $.Params $key  }}
          {{ $modals = $modals | append (index $.Params $key)  }}
            {{ end  }}
            {{ end  }}

            <!-- Process and output each modal file -->
            {{ range $modals  }}
              {{ $js := resources.Get . | js.Build | fingerprint  }}
                <script src="{{ $js.RelPermalink  }}"></script>
                {{ end  }}

<!--
{{ if .Params.js }}
{{ $scriptapp := resources.Get .Params.js | resources.ExecuteAsTemplate .Params.js . | js.Build  | fingerprint }}
-- Use this for external scripts 
<script src="{{ $scriptapp.RelPermalink }}"></script>
Use this for inline scripts

<script> {{ $scriptapp.Content | safeJS }} </script>
{{ end }}
-->


{{ with .Params.css }}
{{ with resources.Get . | resources.Minify | resources.Fingerprint }} <style>{{ .Content | safeCSS  }}</style> {{ end  }}
{{ end }}
    

    <title>{{ block "title" . }}
      {{ T "Title" }}
    {{ end }}</title>
  </head>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  {{- partial "footer-end.html"  }}
</html>

